@import url('https://fonts.cdnfonts.com/css/anne-margaret');
@import url('https://fonts.cdnfonts.com/css/david-libre');
@font-face {
    font-family: 'White Dream';
    src: url('../fonts/WhiteDream-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
  --green: #69AD60;
  --dark: #2C2C2C;
  --black: #1B1B1B;
  --white: #ffffff;
  --blue: #585F92;
  --bg: #1d2333;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 10px;
  scroll-behavior: smooth;
  background: linear-gradient(180deg, var(--bg), var(--black));
  height: 100%;
  overflow: hidden;
}

html.scrollable {
  height: auto;
  overflow: auto;
}

body {
  font-size: 1.6rem;
  color: var(--white);
  padding-top: 5vh;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

h2 {
    color: #CB945F;
    text-align: center;
}

section {
  padding: 0 5vw;
}

p {
  text-align: center;
  font-family: 'David Libre', sans-serif;
  font-weight: lighter;
  color: #DCDCD9;
}


.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* #welcome-section {
  height: 100vh;
} */

#welcome-section h1 {
  font-size: 3.6rem;
}

#welcome-section img,
#closing img.santih {
  max-width: 500px;
  width: 45vw;
}

#divider {
  margin: 50px;
}

#divider img {
  width: 40vw;
  max-width: 500px;
}

#opening-section {
  min-height: 60vh;
  justify-content: space-evenly;
  padding: 10vw 5vw;
}

#opening-section img:nth-child(1) {
  max-width: 100px;
  width: 20vw;
}

#opening-section img:nth-child(2) {
  max-width: 200px;
  width: 30vw;
}

#opening-section h2, 
#name-section h2,
#closing h2  {
  font-family: 'Anne Margaret', sans-serif;
  font-size: 2.2rem;
  font-weight: 200;
}

#opening-section p, #name-section p {
  text-align: center;
}


#name-section {
  margin: 50px;
}

#closing {
  position: relative;
}

#closing p {
  text-align: center;
  margin: 20px 0;
}

#closing img.santih {
  margin: 30px 0;
}

#closing h3 {
  font-family: 'Anne Margaret', sans-serif;
  font-size: 2.2rem;
  font-weight: 200;
  color: #CB945F;
  text-align: center;
}

#countdown,
#opening-section {
  position: relative;
}

#countdown {
  padding-top: 100px;
  position: relative;
}

#countdown h2.logotext {
  font-family: 'White Dream', sans-serif;
  font-size: 5rem;
}

#countdown h2 {
  font-family: 'White Dream', sans-serif;
  font-size: 2.2rem;
  margin-top: 10vw;
}

.float-d {
  position: absolute;
  top: -20px;
  width: 10vw;
  max-width: 80px;
}

#date {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 100px;
}

#date span {
  width: 100%;
  text-align: center;
  font-family: 'Anne Margaret', sans-serif;
  font-size: 3rem;
  border-top: 2px solid #CB945F;
  border-bottom: 2px solid #CB945F;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  color: #CB945F;
}

#date span#pop {
  border: 0;
  font-size: 5rem;
  margin: 0 1rem;
}


#timeaddr,
.counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time,
.address {
  width: 100%;
  min-height: 30vh;
  padding: 2vw;
  text-align: center;
  border: 2px solid #CB945F;
  border-radius: 2vw;
  outline: 2px solid #CB945F;
  outline-offset: 2px;
  margin: 2vw;
}

#timeaddr i {
  color: #CB945F;
  margin-bottom: 50px;
}

.counter {
  width: 100%;
  max-width: 1000px;
}

.counter div {
  display: block;
  width: 180px;
  height: 100px;
  background: linear-gradient(180deg, #704f30, #CB945F);
  border-radius: 2vw;
  margin: 50px 0;
  font-family: "Anne Margaret", Sans-Serif;
  color: #CB945F;
  font-weight: 200;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#countdown iframe {
  width: 100%;
  max-width: 1180px;
  height: 35vh;
  border: 8px solid #CB945F;
}

.button {
  display: block;
  padding: 16px 40px;
  background: linear-gradient(180deg, #704f30, #CB945F);
  border-radius: 8px;
  margin: 25px 0;
  color: var(--black);
  font-weight: 600;
  font-family: 'David Libre', sans-serif;
  font-style: italic;
}

.button i {
  margin-right: 10px;
}


#quotes {
  position: relative;
  color: #CB945F;
  min-height: 60vh;
  justify-content: space-evenly;
  padding: 15vh auto;
}

#quotes img.flower {
  max-width: 10vw;
}


img.flowergold {
  width: 40vw;
  max-width: 300px;
  position: absolute;
  right: 0;
  top: 0;
}

img.flowergold2 {
  width: 40vw;
  max-width: 300px;
  position: absolute;
  left: 0;
  bottom: 0;
}

footer {
  background: var(--bg);
  text-align: center;
  padding: 24px;
}



.button:hover {
  transform: scale(1.1);
  transition-duration: 1s;

}


#overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #1d2333;
  overflow: hidden;
  transition: 0.5s;
  padding-top: 12vh;
}

#overlay img {
  min-width: 300px;
  max-width: 25vw;
  margin-bottom: 50px;
  display: block;
}

#overlay.hidden {
  padding: 0;
  height: 0;
  width: 0;
  left: 50%;
  bottom: 0;
  top: 100%;
}

#overlay-content {
  position: relative;
  top: 30vh;
  width: 100%;
  text-align: center;
  height: 100%;
}

#invited {
  font-family: "Anne Margaret", sans-serif;
  text-transform: capitalize;
  font-weight: 300;
  font-size: 3rem;
  margin-top: 20px;
}

@media (max-width: 2160px) {
  #quotes {
    max-height: 100vh;
  }

  .float-d {
    top: 13vw;
  }
}

@media (max-width: 980px) {
  .float-d {
    top: 160px;
  }

  #countdown iframe {
    height: 500px;
  }
  
  #quotes {
    min-height: 100vw;
  }
}

@media (max-width: 460px) {
  #welcome-section img{
    margin-top: 20vh;
    width: 90vw;
  }

  #divider img {
    width: 70vw;
  }

  .float-d {
    top: 90px;
    width: 50vw;
    max-width: 120px;
  }

  .counter div {
    width: 80px;
    height: 50px;
  }

  #closing img.santih {
    width: 70vw;
  }
  
}